<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:name=".GloboWhatsAppApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_bubble"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bubble"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NativeBubbleActivity"
            android:allowEmbedded="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="WhatsApp"
            android:launchMode="standard"
            android:resizeableActivity="true"
            android:taskAffinity="com.leonardo.globowhatsapp.nativebubble"
            android:theme="@style/NativeBubbleTheme" />

        <service
            android:name=".WhatsAppNotificationListenerService"
            android:exported="true"
            android:label="Globo WhatsApp: mensajes"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations|alerting" />
        </service>
    </application>
</manifest>
