<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.openai.chatgpt" />
        <package android:name="com.google.android.apps.bard" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_bubble"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bubble"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BubbleService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
