<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.openai.chatgpt" />
    </queries>

    <application
        android:name=".BurbujaGptApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_bubble"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bubble"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NativeBubbleActivity"
            android:allowEmbedded="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="ChatGPT"
            android:launchMode="standard"
            android:resizeableActivity="true"
            android:taskAffinity="com.leonardo.burbujagpt.nativebubble"
            android:theme="@style/NativeBubbleTheme" />
    </application>
</manifest>
